// fonts:
$mfont: var(--roboto);
$roboto: var(--roboto);

// colors:
$white: var(--white);
$background: var(--background);

$pri-blue: var(--pri-blue);
$hov-blue: var(--hov-blue);
$foc-blue: var(--foc-blue);
$sec-blue: var(--sec-blue);
$sec-foc-blue: var(--sec-foc-blue);

$pri-green: var(--pri-green);
$foc-green: var(--foc-green);

$pri-gray: var(--pri-gray);

$error: var(--error);
$error-c: var(--error-c);
$error-bc: var(--error-bc);
$success-c: var(--success-c);
$success-bc: var(--success-bc);