
extends base

block content
	div.container
		h1(style='color: #721c24;text-align: center;background: #f8d7da;padding: 4rem;border-radius: 1rem;line-height: 1.5;font-size: 3rem;font-family: var(--roboto);font-weight: 300;')
			|Opps! 404
			br
			|The page you are looking for could not be found!