
extends base

block append script
	script(type='text/javascript' src='/resetPassword.bundle.js')

block content
	form.form.form--fp(autocomplete='off')
		h3.form__title Reset Password
		div.form__body
			div.form__group.form__group--pass
				input.form__group-input(id='passInput' type='password')
				label.form__group-label(id='passLabel' for='passInput') Password
				img.form__group-input--eyesvg(src='/assets/svg/passShow.svg')
			button.form__submit-btn(id='submit' type='submit')
				span.form__submit-btn--text Reset