
extends base

block append script
	- if ( process.env.FENV === 'development')
		script(type='text/javascript' src='/vendor.bundle.js')
		script(type='text/javascript' src='/noScript.bundle.js')

block content
	div.ls
		div.ls__heading Welcome!
		div.ls__desc This is just a simple Login and Sign Up module. Login to your account or Sign-Up if you haven't created one.
		div.ls__links
			a.ls__links--link( href='/login') Login
			a.ls__links--link( href='/signup') Sign Up