
extends base

block append script
	- if ( process.env.FENV === 'development')
		script(type='text/javascript' src='/vendor.bundle.js')
		script(type='text/javascript' src='/noScript.bundle.js')

block content
	div.container
		div.pnf
			h1.pnf__heading Opps! 
				span.pnf__errcode 404
			h1.pnf__heading The page you are looking for could not be found!