@use "../abstracts" as *;

.alert {
	@include size( $w: 40rem , );
	@include pos-fixed( $t: 0 , $l: 0 , $r: 0 , $z: 100 , );
	@include pbm( $m: 0 auto , $rad: 0 0 1rem 1rem , $p: 2rem 1rem , );
	@include typo( $ff: $mfont , $fs: 1.6rem , $fw: 500 , $ta: center , );
	box-shadow: 0 0 4rem 1rem rgb(0 0 0 / 25%);

	&--success {
		color: #155724;
		background-color: #9bf2b0;
	}
	&--error {
		color: #721c24;
		background-color: #f8d7da;
	}
}

@keyframes slideInDown {
	from { transform: translate3d(0, -100%, 0); visibility: visible; }
	to { transform: translate3d(0, 0, 0); }
}
@keyframes slideOutUp {
  from { transform: translate3d(0, 0, 0); }
  to { visibility: hidden; transform: translate3d(0, -100%, 0); }
}

.slideInDown {
	animation-timing-function: ease;
	animation-duration: .5s;
	animation-fill-mode: both;
	animation-name: slideInDown;
}
.slideOutUp {
	animation-timing-function: ease-in;
	animation-duration: .3s;
	animation-fill-mode: both;
	animation-name: slideOutUp;
}