@use "../abstracts" as *;

.pipes {
	@include size( $h: 2rem , $w: 100% , );
	@include pos-relative();

	&__pipe {
		@include size( $h: 3rem , $w: 1rem , );
		@include bg( $c: LightCyan , );
		@include pos-absolute( $t: 0 , );
		@include pbm( $rad: 50px , );
		transform: translateY( -5px );

		&--left {
			left: 10rem;
		}
		&--right {
			right: 10rem;
		}
	}
}