@use "../abstracts" as *;

.form {
	@include size( $h: 50rem , $w: 40rem , );
	@include bg( $c: LIGHTCYAN , );
	@include pbm( $rad: 1rem , );
	@include pos-absolute( $c: mcenter , );
	@include flex( $fd: column , $jc: null , $ai: null , );
	box-shadow: 0 0 6rem 1rem rgb(0 0 0 / 25%);
	overflow: hidden;

	&__title {
		@include size( $h: 5rem , $w: 100% , );
		@include typo( $c: #002fff , $ff: $mfont , $fs: 3rem , $fw: 600 , $ta: center , );
		@include pbm( $mt: 2rem , );
	}

	&__body {
		@include flex-item( $grow: 1 , );
		padding: 2rem;
	}
	
	&__group {
		@include size( $h: 5rem , $w: 100% , );
		@include bg( $c: inherit , );
		@include pbm( $rad: 10px , $b: 1px solid #6fa2bc , );
		@include pos-relative();
		
		&:not(:last-child) { margin-bottom: 2.5rem; }
		&:hover { border: 1px solid #002fff; }
		&:hover .form__group-label { color: #002fff; }

		&--focused {
			border: 1px solid #0070ff;
		}

		&-input {
			@include size( $h: 5rem , $w: 100% , );
			@include bg( $c: inherit , );
			@include typo( $c: #000aff , $ff: $mfont , $fs: 2rem , $fw: 400 , );
			@include pbm( $b: none , $p: 1rem 1.5rem , );
			outline: none;

			&:focus + label {
				color: #0070ff;
			}

			&--text {
				@include typo( $c: #002fff , $ff: $mfont , $fs: 2rem , $fw: 400 , );
				@include pbm( $b: none , $p: 1.2rem 1.5rem , );
			}

			&--pass {
				@include size( $w: 90% , );
				font-weight: 900;
			}

			&--showpassword {
				font-weight: 400;
			}

			&--eyesvg {
				@include size( $h: 2rem , );
				@include disable-selection;
				@include pos-absolute( $t: 50% , $r: 1rem , );
				transform: translateY( -50% );
				cursor: pointer;
				filter: invert(28%) sepia(100%) saturate(3433%) hue-rotate(207deg) brightness(103%) contrast(101%);
				display: none;
			}
		}

		&-label {
			@include typo( $c: #6fa2bc , $ff: $mfont , $fs: 1.2rem , $fw: 500 , );
			@include bg( $c: LightCyan , );
			@include pbm( $p: 0rem 5px , $rad: 50px , );
			@include pos-absolute( $l: 1.5rem , $t: 0px , $z: 10 , );
			transform: translateY( -9px );
		}
	}

	&__submit {
		@include size( $h: 5rem , $w: 100% , );
		@include bg( $c: #002fff ,  );
		@include typo( $c: white , $ff: $mfont , $fs: 2rem , $fw: 300 , );
		@include pbm( $rad: 10px , $b: none , );
		@include flex( $jc: center , $ai: center , );
		outline: none;
		cursor: pointer;

		&:hover {
			@include bg( $c: #002be9 , );
		}
		&:active {
			@include bg( $c: #002fff , );
		}
		&:focus {
			box-shadow: 0 0 0 4px rgb(0 49 255 / 25%);
		}
	}

	&__footer {
		@include typo( $c: white , $ff: $mfont , $fs: 1.5rem , $fw: 300 , $ta: center , );
		@include pbm( $mb: 1.5rem , );
		z-index: 10;

		&--link {
			@include typo( $c: #00ffe0 , $ff: $mfont , $fs: 1.5rem , $fw: 600 , $td: none , );
			@include pos-relative();
			cursor: pointer;

			&:hover::after , &:focus::after {
				content: '';
				@include size( $h: 2px , $w: 100% , );
				@include pos-absolute( $b: 0 , $l: 0 , $z: -1 , );
				border-bottom: 2px solid #00ffe08c;
			}
			&:focus {
				outline: none;
			}
		}
	}

	&__svg {
		@include pos-absolute( $b: 0 , $l: 0 , );
		fill: #002fff;
		border-radius: 0 0 1rem 1rem;
	}
}

.showeyesvg {
	display: inline-block;
}