@use "../abstracts" as *;

.home { @include size( $h: auto , $w: 100% , ); }

.navbar {
	@include size( $h: 5rem , $w: 100% , );
	@include bg( $c: LightCyan , );
	@include pbm( $rad: 1rem , $p: 0 2rem , );
	@include flex( $jc: space-between , $ai: center , );
	box-shadow: 0 0 4rem rgb(0 0 0 / 25%);

	&__link {
		@include flex( $ai: center , );
		cursor: pointer;

		&#edit:hover &--text { transform: translateX( 1px ); }
		&#edit:hover &--svgbox { transform: translateX( -1px ); }
		&#home:hover &--text { transform: translateX( 1px ); }
		&#home:hover &--svgbox { transform: translateX( -1px ); }
		&#logout:hover &--text { transform: translateX( -1px ); }
		&#logout:hover &--svgbox { transform: translateX( 1px ); }

		&--text {
			@include typo( $c: #002fff , $ff: $mfont , $fs: 2rem , $fw: 600 , $td: none , );
			@include pbm( $m: 0 5px , );
			transition: transform .3s ease;
		}
		&--svg {
			@include size( $h: 2rem , $w: 2rem , );
			fill: #002fff;
			&box { transition: transform .3s ease; }
		}
	}
}

.main {
	@include bg( $c: LightCyan , );
	@include pbm( $p: 4rem , $rad: 1rem , );
	box-shadow: 0 1rem 3rem rgb(0 0 0 / 25%);

	&__title {
		@include typo( $c: #002fff , $ff: $mfont , $fs: 4rem , $fw: 500 , $ta: center , );
	}

	&__profile {
		@include flex( $jc: center , $ai: center , );

		&--name {
			@include typo( $c: #002fff , $ff: $mfont , $fs: 4rem , $fw: 400 , $ta: center , );
		}
		&--img {
			@include size( $h: 4rem , $w: 4rem , );
			@include pbm( $mr: 1rem , );
		}
	}

	&__details {
		@include typo( $ff: $mfont , $fs: 2rem , );

		&__heading {
			@include size( $h: 100% , $w: 100% , );
			@include bg( $c: #002fff , );
			@include typo( $c: white , $ff: $mfont , $fs: 2rem , $fw: 500 , );
			@include pbm( $rad: 2rem , $pr: 1rem , );
			@include flex( $jc: center , $ai: center , );
		}

		&__row {
			@include size( $h: 3.5rem , $w: 100% , );
			@include flex( $ai: center , );
			&:not(:last-child) { margin-bottom: 2rem; }
		}

		&--key {
			@include size( $h: 100% , $w: 18rem , );
			@include bg( $c: #002fff , );
			@include typo( $c: white , $fw: 500 , );
			@include pbm( $rad: 2rem 0 0 2rem , $pr: 1rem , );
			@include flex( $jc: flex-end , $ai: center , );
		}

		&--value {
			@include size( $h: 100% , );
			@include typo( $c: #002fff , $fw: 500 , );
			@include pbm( $b: 1px solid #002fff , );
			@include pbm( $rad: 0 2rem 2rem 0 , $pl: 1rem , );
			@include flex( $jc: flex-start , $ai: center , );
			@include flex-item( $grow: 1 , $shrink: null , $basis: null , );
		}
	}
}